body {
  font-family: "Candal", sans-serif;
  /* font-weight: 300; */
  text-align: left;
  background-color: #afcee7;
}

header {
  margin-bottom: 120px;
}

.heading-text {
  color: #59221d;
  font-family: "Dancing Script", cursive;
  margin-top: 0;
  padding: 25px;
  border-bottom: 0.5px solid #59221d;
  text-align: center;
}

.container {
  width: 1500px;
  margin: auto;
  /* border: 10px solid red; */
}

.smaller-container {
  margin: auto;
  width: 900px;
}

.columns {
  display: flex;
  justify-content: center;
}

.col {
  align-content: center;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

body h1 {
  color: #59221d;
  margin-bottom: 0;
}

body h2 {
  margin-top: 0;
  font-size: 2em;
  color: #e26620;
}

img {
  width: 800px;
  /* border: 10px solid blue; */
}
